.product__picture {
  border-radius: 4px;
  max-height: 180px;
  max-width: 180px;
  object-fit: cover;

  &.product__picture--large {
    max-height: 680px;
    max-width: 680px;

    img {
      margin: 0 auto;
    }
  }
}
