@import '../../styles/variables.scss';

.navigation-breadcrumb__list {
 list-style: none;

 li {
  display: inline;
  color: $dust-grey;
  font-size: 14px;

  &.navigation-breadcrumb__list__element--active {
   font-weight: bold;
  }

  &:not(:last-child) {
   &::after {
    content: "-";
    margin: 0 3px;
   }
  }

 }
}