@font-face {
  font-family: Proxima Nova Light;
  src: url('../assets/fonts/proximanova-light.woff2');
}

@font-face {
  font-family: Proxima Nova;
  src: url('../assets/fonts/proximanova-regular.woff2');
}

@font-face {
  font-family: Proxima Nova SemiBold;
  src: url('../assets/fonts/proximanova-semibold.woff2');
}
