@font-face {
  font-family: Proxima Nova Light;
  src: url('../assets/fonts/proximanova-light.woff2');
}

@font-face {
  font-family: Proxima Nova;
  src: url('../assets/fonts/proximanova-regular.woff2');
}

@font-face {
  font-family: Proxima Nova SemiBold;
  src: url('../assets/fonts/proximanova-semibold.woff2');
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
}

body {
  background: #eeeeee;
}

.shipping-icon {
  height: 15px;
  width: 15px;
}
