$spacing-levels: '5' 5px, '10' 10px, '16' 16px, '32' 32px, '100' 100px;

$placeholder-background: #f6f7f8;
$grey-nuance-lighter: #eeeeee;
$grey-nuance-darker: #dddddd;
$fade-grey: #e8e8e8;
$yellow: #FFE600;
$black-lighter: #333;
$dove-grey: #666;
$dust-grey: #999;
