.product__informations__price {
 display: flex;
 align-items: center;
 margin-bottom: 32px;

 .shipping_icon {
  margin-left: 10px;
 }

 span {
  font-size: 24px;

  &.product__informations__price__symbol {
   margin-right: 5px;
  }
 }
}