@import '../../styles/resources.scss';

ol.products-list {
  margin: 0 16px;
  flex: 1;

  li {
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    padding: 16px 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .products-list__product a {
    @include flex-column--center();

    .product__picture {
      margin-right: unset;
    }

    .product__informations {
      .product__general-informations {
        @include flex-column--center();

        .product__price {
          min-width: 100px;
        }

        .product__location {
          margin-top: 5px;
        }
      }

      .product__name {
        max-width: 294px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products-list__product a {
    display: flex;
    flex-direction: row;

    .product__picture {
      margin-right: 16px;
    }

    .product__informations {
      flex: 1;

      .product__general-informations {
        @include flex-row--center();

        .product__price {
          min-width: unset !important;
          flex: 1;
        }

        .product__location {
          min-width: 93px;
          text-align: center;
        }
      }

      .product__name {
        flex: 2;
        max-width: 240px !important;
      }
    }
  }
}

@media (min-width: 1025px) {
  .products-list__product a {
    display: flex;
    flex-direction: row;
    flex: 1;

    .product__picture {
      margin-right: 16px;
    }

    .product__informations {
      flex-wrap: wrap;
      display: flex;

      .product__general-informations {
        @include flex-row--center();

        .product__price {
          min-width: 622px;
        }

        .product__location {
          min-width: 93px;
          text-align: center;
        }
      }

      .product__name {
        max-width: 410px;
        margin-top: 32px;
      }
    }
  }
}
